input, label {
    display: block;
}

label {
    text-align: left;
    color: white;
}

input {
    margin-bottom: 5px;
}

h1 {
    color: white;
}


.input-container {
    text-align: left;
    display: inline-block;
    margin-bottom: 20px;
}

.input-container input {
    border: 2px solid white;
}

input:focus{
    border: 2px solid gray;
    outline: 0;
}

.error {
    color: #ff0000;
    display: none;
    font-size: 12px;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

input:invalid[focused="true"]{
    border: 2px solid red;
}

input:valid{
    border: 2px solid #00ff1e;
}

.login-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.submit-button {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    background-image: linear-gradient(to right, #00ff1e 0%, #8ff4ec 51%, #00ff1e 100%);
    border: solid white;

    line-height: 10px;
    min-width: 150px;
}

.box button:hover {
    background-position: right center;
}