.modalContainer {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    align-items: center;
    justify-content: center;
    pointer-events: visiblePainted;
    cursor: pointer;
}

.modalBoxContainer {
    display: flex;
    width: 250px;
    height: fit-content;
    padding: 35px;
    background-color: #eeeeee;
    border-radius: 10px;
    color: #000000;
    flex-direction: column;
    font-size: 1rem;
    z-index: 5;
    cursor: auto;
    align-items: center;
}
.modalBoxContainer h2 {
    margin-top: 0;
}
.ticketBtnModal {
    width: 100%;
}

.counterContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.counterBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #a2a2a2;
    padding: 10px;
    border-radius: 50%;
}

.modalBoxContainer select {
    font-size: 1vw;
    font-family: "Gill Sans MT", sans-serif;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightgrey;
}

.ticketModalHeader {
    font-size: 1.2vw;
    margin-bottom: 15px;
}