@media only screen and (max-width: 1024px) {
    .ticketModalBoxContainer {
        width: 70%;
        font-size: 1.2em;
    }

    .ticketModalHeader {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .ticketModalBoxContainer select {
        font-size: 1em;
    }
}