body {
    margin: 0;
}

.App {
    text-align: center;
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    font-family: "Gill Sans MT", sans-serif;
}

.pageContainer {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.innerPageContainer {
    display: inline-block;
    /*width: calc(100vw - 62px);*/
    overflow-y: auto;
    overflow-x: hidden;
}
.contentContainer {
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: white;
    width: calc(100vw - 132px);
    height: calc(100vh - 25px);
    display: inline-block;
    text-align: start;
    flex-direction: column;
    align-items: start;
}

h1 {
    font-family: "Gill Sans MT", sans-serif;
}

input {
    margin-top: 7px;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 10px;
    filter: brightness(100%);
    transition: 0.5s;
}

button:hover {
    filter: brightness(80%);
    transition: 0.5s;
}