.eventCard {
    border-radius: 5px;
    outline: 1px #dddddd solid;
    box-shadow: 5px 5px 16px -4px darkgrey;
    padding: 20px;
    margin-right: 25px;
    text-align: start;
}
.eventCard h3 {
    margin: 0;
}

.eventButton {
    font-family: "Gill Sans MT", sans-serif;
    background-color: #d9d9d9;
}